---
title: Architectural Decision Records
weight: 100
---

# Architectural Decision Records

<%= image_tag 'routemasterbp.jpg' %>

<ul>
<% current_page.children.sort{ |a, b| a.data.title <=> b.data.title }.each do |page| %>
  <li><%= link_to page.data.title, page.url %></li>
<% end %>
</ul>
