# We should have a single task for builing node apps for pr and build
# pipelines. This task should output the built project and subsequent task be
# resposibile for putting it where it needs to go.
platform: linux
image_resource:
  type: docker-image
  source:
    repository: node
    tag: 12-stretch
inputs:
  - name: src
outputs:
  - name: build
  - name: pacts
caches:
  - path: npm_cache
  - path: cypress_cache
run:
  path: bash
  dir: src
  args:
    - -ec
    - |
      set -o errexit -o nounset -o pipefail
      echo "node: $(node --version)"
      echo "npm: $(npm --version)"

      apt-get update
      apt-get -y install ca-certificates wget python libgtk2.0-0 libgtk-3-0 libnotify-dev libgconf-2-4 libnss3 libxss1 libasound2 libxtst6 xauth xvfb

      export CYPRESS_CACHE_FOLDER=$(pwd)/../cypress_cache
      npm config set cache ../npm_cache
      npm rebuild node-sass
      npm ci
      npm run compile
      npm test -- --forbid-only --forbid-pending

      if [ -f "cypress.json" ]; then
        npm run cypress:server > /dev/null 2>&1 &
        sleep 3
        npm run cypress:test
      fi

      cd ..

      cp -R src/* build
      cp -R src/.git build
      cp -R src/pacts/* pacts/ || true
