# We should have a single task for builing node apps for pr and build
# pipelines. This task should output the built project and subsequent task be
# resposibile for putting it where it needs to go.
platform: linux
image_resource:
  type: docker-image
  source:
    repository: node
    tag: 12-stretch
inputs:
  - name: src
outputs:
  - name: build
  - name: pacts
caches:
  - path: npm_cache
params:
  skip_tests: false
run:
  path: bash
  dir: src
  args:
    - -ec
    - |
      set -o errexit -o nounset -o pipefail
      echo "node: $(node --version)"
      echo "npm: $(npm --version)"

      apt-get update
      apt-get -y install ca-certificates wget python libgtk2.0-0 libgtk-3-0 libnotify-dev libgconf-2-4 libnss3 libxss1 libasound2 libxtst6 xauth xvfb

      if [[ -f "$(pwd)/scripts/generate-dev-environment.js" ]]; then
        node "$(pwd)/scripts/generate-dev-environment.js" local
      fi

      npm config set cache ../npm_cache
      npm rebuild node-sass
      npm ci
      npm run compile

      if [ "$skip_tests" = true ]; then
        echo "Skipping tests"
      else
        npm run lint
        npm test -- --forbid-only --forbid-pending
      fi

      cd ..

      cp -R src/* build
      cp -R src/.git build
      cp -R src/pacts/* pacts/ || true
