---
platform: linux

image_resource:
  type: registry-image
  source:
    repository: rorymalcolm/pay-docker-scratches
    username: ((docker-username))
    password: ((docker-password))
    tag: latest

params:
  HOSTED_GRAPHITE_ACCOUNT_ID: ((HOSTED_GRAPHITE_ACCOUNT_ID))
  HOSTED_GRAPHITE_API_KEY: ((HOSTED_GRAPHITE_API_KEY))
  METRIC_NAME: metricname
  METRIC_VALUE: metricvalue

run:
  path: bash
  dir: src
  args:
    - -eu
    - |
        echo "Sending metric ${METRIC_NAME}"
        nc "${HOSTED_GRAPHITE_ACCOUNT_ID}.carbon.hostedgraphite.com" 2003 <<< "${HOSTED_GRAPHITE_API_KEY}.${METRIC_NAME} ${METRIC_VALUE}" \n