---
platform: linux

image_resource:
  type: registry-image
  source:
    repository: alpine
    tag: 3.12.0

inputs:
  - name: src
  - name: release-info

params:
  METRIC_NAME: metricname
  METRIC_VALUE: metricvalue

run:
  path: bash
  dir: src
  args:
    - -eu
    - |
        apk add netcat-openbsd
        echo "Sending metric ((METRIC_NAME))"
        nc "((HOSTED_GRAPHITE_ACCOUNT_ID)).carbon.hostedgraphite.com" 2003 <<<"((HOSTED_GRAPHITE_API_KEY)).((METRIC_NAME)) ((METRIC_VALUE))"